* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #adefd1ff;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: rgb(20, 20, 20);
  --mainGrey: #ececec;
  --darkGrey: #631b1b;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  color: var(--mainWhite);
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.5em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
p {
  color: #494949;
  font-family: "Times New Roman", Times, serif;
}
td{
  color:#494949;
}
label{
  color:#494949;
}
.borderBottom {
  border-bottom: #494949 3px solid;
  margin: 0px 48%;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* end of globals */
/*Loging Form*/
.form-container {
  min-height: calc(110vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  border-radius: 10px;
  min-height: 70vh;
}
.register-form {
  border-radius: 10px;
  min-height: 40vh;
}
/*--Nav Bar--*/
.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 1;
  margin:0;
  padding:0
}
/* Hero */
.defaultHero {
  min-height: calc(110vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-text {
  background-color: var(--primaryColor);
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
  color: var(--mainWhite);
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 770px) {
  .hideOnSmallScreen {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */
/*Shop Hero*/
.shopHero {
  min-height: calc(40vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopHero {
  background-image: url("./images/landing.jpg");
  min-height: 40vh;
}
/* Jumbotron */
.jumbotron {
  background-color: var(--primaryColor);
}
.boxShadow {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(112, 112, 112, 1);
  -moz-box-shadow: 0px 0px 6px 3px rgba(112, 112, 112, 1);
  box-shadow: 0px 0px 6px 3px rgba(112, 112, 112, 1);
}
.priceButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: var(--primaryColor);
  border-radius: 20px;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}
/*landingpage*/
.landingPage {
  min-height: calc(40vh - 66px);
  background: url("./images/landing.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingPage {
  background-image: url("./images/landing.jpg");
  min-height: 40vh;
}
/*Footer*/
.footerContainer {
  background-color: black;
  min-height: 32vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text h3 {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.footer-text hr {
  background-color: white;
  margin: 0 45%;
}
.footer-text p {
  color: rgb(187, 187, 187);
  font-size: 1rem;
}
/*Footer Ends*/
.cart-card {
  display: inline-block;
}
.cart-input {
  width: 60px;
  border: 1px solid #f7e2e2;
  text-align: center;
}
.cart-input:focus {
  border: 1px solid violet;
}
